a {
  text-decoration: none;
}

.icon {
  width: 100%;
  height: 42px;
}

.icon_list{
  margin-left: 30px;
  padding: 0px;
}

.icon_list li{
  margin-left: 20px;
  float: left;
  list-style: none;
  color: black;
}

.icon_text{
  margin-left: 6px;
  font-size: 0.6em;
}

.search_list {
  padding: 0px;
}

.search_list li {
  list-style: none;
}

.search_input {
  border: none;
  border-bottom: 1px solid rgb(212, 211, 211);
  margin-left: 10px;
  transition-duration: 1s;
}

.search_icon {
  color: black;
  margin-left: 80px;
  font-size: 28px;
}

.search_icon:hover {
  cursor: pointer;
}
