.search_container {
  width: 100%;
  height: 200px;
  text-align: center;
  background-color:#fbfbfb;

}


.bannerimg {
  width: 400px;
  height: 400px;
}

.search_box {
  z-index: 100;
  width: 100%;
  height: 50px;
  margin: auto;
}

.category_box{
  float: left;
  margin-right: 13px;
}

.category {
  text-align: center;
  width: 80px;
  height: 40px;
  background-color:#FFFF;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 5px;
  -o-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.category:hover{
  cursor: pointer;
}



.input_box {
  border: 1px solid black;
  border-radius: 30px;
  background-color: #fff;
  height: 50px;
  width: 450px;
  float: left;
  text-align: center;
}

.input_box input {
  border-radius: 30px;
  margin-top: 7px;
  width: 93%;
  height: 35px;
  border: none;
}

.icon_box {
  margin-left: 10px;
  font-size: 33px;
}

.icon_box i {
  margin-bottom: 4px;
  color: black;
}

.icon_box i:hover {
  cursor: pointer;
}

/* div {
  border: 1px solid black;
  box-sizing: border-box;
} */