/* @keyframes left {
  0% {transform:translateX(-100px);
  }
  100% {transform:translateX(0);
  }
} */

@media (max-width: 1030px) {
  .banner_img1 {
    display: none;
  }

  .banner_img2 {
    display: none;
  }

  .banner_img3 {
    display: none;
  }

  .banner_men {
    display: none;
  }

  .banner_img4 {
    display: none;
  }

  .banner_img5 {
    display: none;
  }

  .banner_img6 {
    display: none;
  }

  .banner_plant {
    display: none;
  }

  /* .men {
    display: none;
  }

  .women {
    display: none;
  } */
}

@media (max-width: 1045px) {
  .men {
    display: none;
  }

  .women {
    display: none;
  }
}

.banner_container {
  padding-top: 60px;
  width: 100%;
  height: 500px;
}

.text {
  margin: auto;
  font-size: 32px;
  font-style: italic;
  text-align: center;
  margin-top: 4rem;
}

.text1 {
  margin: auto;
  font-size: 36px;
  font-style: italic;
  text-align: center;
  margin-top: 9px;
}


.banner_img1 {
  position: absolute;
  z-index: 1000;
  left: 70rem;
  width: 150px;
  height: 150px;
  top: 12rem;
}

.banner_img1 img {
  width: 100%;
  height: 100%;
}

.banner_img2 {
  position: absolute;
  z-index: 1000;
  right: 17rem;
  width: 150px;
  height: 150px;
  top: 24rem;
}


.banner_img2 img {
  width: 100%;
  height: 100%;
}


.banner_img3 {
  position: absolute;
  z-index: 1000;
  left: 80px;
  width: 200px;
  height: 200px;
  top: 100px;
}

.banner_img3 img {
  width: 100%;
  height: 100%;
}


.banner_img4 {
  position: absolute;
  z-index: 1000;
  left: 150px;
  width: 200px;
  height: 200px;
  top: 320px;
}

.banner_img4 img {
  width: 100%;
  height: 100%;
}

.banner_img5 {
  position: absolute;
  z-index: 1000;
  right: 17rem;
  width: 200px;
  height: 200px;
  top: 6.6rem;
}

.banner_img5 img {
  width: 40%;
  height: 40%;
}


.banner_plant {
  position: absolute;
  z-index: 1000;
  left: 300px;
  width: 200px;
  height: 200px;
  top: 10rem;
}


.banner_plant img {
  width: 70%;
  height: 70%;
}

.women {
  position: absolute;
  z-index: 1000;
  width: 150px;
  height: 150px;
  left: 36rem;
  top: 24rem;
}

.women img {
  width: 100%;
  height: 100%;
}


.men {
  position: absolute;
  z-index: 1000;
  width: 170px;
  height: 170px;
  left: 47rem;
  top: 23.8rem
}

.men img {
  width: 100%;
  height: 100%;
}