
.container {
  margin-top: 70px;
  text-align: center;
  height: 230px;
}

.category {
  width: 226px;
  height: 226px;
  border-radius: 10%;
  background-color: black;
  float: left;
  margin-right: 10px;
}