
.container {
  margin-top: 50px;
  text-align: center;
  height: 230px;
}

.category {
  width: 226px;
  height: 226px;
  border-radius: 10%;
  float: left;
  margin-right: 10px;
  overflow: hidden;
}

.category:hover img {
  cursor: pointer;
  transition-duration: 0.9s;
  transform: scale(1.15);
}
