.container {
  margin-top: 30px;
  border: 1px solid;
  width: 70%;
  height: 500px;
  padding-left: 20px;
}

.info_box{
  height: 30px;
  height: auto;
}

.bookmark_list {
  height: 455px;
}

/* div {
  border: 1px solid black;
} */