
* {
  font-family : 'S-CoreDream-3Light'
}

.profile{
  margin-left: 10px;
  margin-top: 10px;
  border: 1px solid black;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  float: left;
  overflow: hidden;
}

.info {
  float: left;
  margin-left: 42px;
  width: 70%;
  font-size: 15px;
}

.info_ul {
  padding: 0px;
  margin: 0px;
}

.info_li {
  margin-top: 10px;
  list-style: none;
}

.l{
  width: 70px;
  height: 30px;
  float: left;
  margin-right: 30px;
}

.r{
  font-weight: bold;
}