.container {
  margin: 30px;
  width: 960px;
  padding-bottom: 150px;

}


.title_box {
  border-bottom: 3px solid black;
  padding-bottom: 10px;
  margin-bottom: 16px;

}

.guide {
  list-style: none;
  margin-bottom: 8px;
  margin-top: 14px;
  font-size: 16px;
}

.ul {
  margin: 0px;
  padding: 0px;
}

.l {
  font-size: 12px;
}

.span {
  margin-left: 10px;
  font-size: 14px;
}

.userout_input {
  width: 200px;
  height: 30px;
  font-size: 12px;
}