
.navi_container {
  margin-top: 2.4rem;
}

.circle{
  position: absolute;
  margin-top: 5px;
  margin-left: 120px;
  z-index: 50;
  width: 6px;
  height: 6px;
  background-color: black;
  border-radius: 50%;
  opacity: 0;
  transition-duration: 1s;
}


.circle2{
  position: absolute;
  margin-top: 5px;
  margin-left: 73px;
  z-index: 60;
  width: 6px;
  height: 6px;
  background-color: black;
  border-radius: 50%;
  opacity: 0;
  transition-duration: 1s;
}

.first_navi:hover .circle{
  opacity: 100;
}


.second_navi:hover .circle2{
  opacity: 100;
}