.post {
  background-color: white;
  width: 6.5rem;
  height: 6.5rem;
  position: fixed;
  top: 650px;
  left: 30px;
  border-radius: 50%;
  text-align: center;
  transition-duration: 3s;
}

.post:hover {
  cursor: pointer;
  transform: rotate(360deg);
}