
a {
  text-decoration: none;
}

.join_container {
  border: 1px solid #dfdfdf;
  width: 400px;
  height: 500px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 10%;
}

.join_container div {
  border: none;
  margin-top: 30px;
  width: 100%;
  text-align: center;
}

.join_title {
  font-size: 28px;
}

.join_mail {
  margin-top: 82px;
  color: black;
  text-decoration: none;
  font-size: 18px;
}

.join_phone {
  margin-top: 80px;
  color: black;
  text-decoration: none;
  font-size: 18px;
}

.mail_icon {
  margin-right: 12px;
}

.phone_icon {
  margin-right: 12px;
}

hr {
  color: #dfdfdf;
  margin-top: 25px;
}