
/* md 이상 사이즈 Footer */

.footer {
  font-family: 'Jost', sans-serif;
  background-color: black;
  color: aliceblue;
}

.logoBox {
  margin-top: 1rem;
  margin-left: 17rem;
  width: 5rem;
  height: 5rem;
}

.footer_list li {
  font-size: 9px;
  list-style: none;
}

.copyRight {
  font-size: 0.7rem;
}

.footer_t {
  margin: 0px;
}

/* md 이하 Footer */

.footer_min {
  background-color: black;
  height: 4.3rem;
  line-height: 4.3em;
  color: #fff;
  text-align: center;
}