.title_input {
  border: none;
  width: 800px;
  font-size: 22px;
}

.title_p {
  border-bottom: 1px solid #ccc;
  width: 800px;
  margin: auto;
}

.custom_btn {
  border-radius: 20px;
  width: 70px;
  height: 28px;
  border: 1px solid #ccc;
  background-color: #FFFF;
  margin-left: 6px;
  font-size: 12px;
  transition-duration: 0.5s;
}

.custom_btn:hover {
  border: 1px solid black;
}