.view_container {
  margin-top: 60px;
}

.category_box {
  width: 800px;
  margin: auto;
  align-items: start;
}


.view_category {
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 5rem;
  height: 1.6rem;
  font-size: 14px;
  padding-left: 0.3rem;
  padding-top: 0.2em;
}


.view_title {
  border-bottom: 1px solid #ccc;
  width: 800px;
  margin: auto;
  font-size: 32px;
}

.view_content {
  margin-top: 10px;
  width: 800px;
  height: 600px;
  border: 1px solid #ccc;
  margin: auto;
  word-break: break-all;
  overflow: scroll;
}

.btn {
  font-size: 12px;
}