
a {
  text-decoration: none;
  margin: auto;
  padding: auto;
}

input {
  outline: none;
}

.start{
  opacity: 1;
  }


.end{
  opacity: 1;
  transition: opacity 2s;
  }

  a {
    margin: 0px;
    padding: 0px;
  }

  /* div {
    border: 1px solid black;
    box-sizing: border-box;
  } */