.list {
  width: 6rem;
  height: 6rem;
  z-index: 100;
  position: fixed;
  bottom: 40px;
  right: 100px;
  overflow: hidden;
  border-radius: 50%;
  text-align: center;
  padding-top: 20px;
  font-weight: lighter;
  font-size: 36px;
  color: white;
  background-color: black;
}

.list:hover{
  cursor: pointer;
  background-color:  #f9f8f3;
  color: black;
}

.list:hover .icon {
  color: black;
}

.icon {
  height: 100%;
  width: 100%;
  color: white;
}


a {
  margin: 0px;
  padding: 0px;
}

